@layer components {
  .blur-overlay-header {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    @apply z-30 fixed inset-0 h-screen w-full bg-c-blur-overlay/30 invisible opacity-0 duration-300;

    &.show {
       @apply opacity-100 visible;
    }
  }

  .blur-overlay {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    @apply z-full fixed inset-0 h-full w-full bg-c-blur-overlay/30;
    &.blur-overlay--inner {
      @apply z-100;
    }
  }

  .blur-light {
    background: rgba(73, 73, 73, 0.6);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
  }

  .blur-black {
    background: rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }
}