/*DELAYS*/
.animate__animated.eag-delay-100ms {
  --animate-delay: 0.1s;
  animation-delay: var(--animate-delay);
}
.animate__animated.eag-delay-200ms {
  --animate-delay: 0.2s;
  animation-delay: var(--animate-delay);
}
.animate__animated.eag-delay-300ms {
  --animate-delay: 0.3s;
  animation-delay: var(--animate-delay);
}
.animate__animated.eag-delay-400ms {
  --animate-delay: 0.4s;
  animation-delay: var(--animate-delay);
}
.animate__animated.eag-delay-500ms {
  --animate-delay: 0.5s;
  animation-delay: var(--animate-delay);
}
.animate__animated.eag-delay-600ms {
  --animate-delay: 0.6s;
  animation-delay: var(--animate-delay);
}
.animate__animated.eag-delay-700ms {
  --animate-delay: 0.7s;
  animation-delay: var(--animate-delay);
}
.animate__animated.eag-delay-800ms {
  --animate-delay: 0.8s;
  animation-delay: var(--animate-delay);
}
.animate__animated.eag-delay-900ms {
  --animate-delay: 0.9s;
  animation-delay: var(--animate-delay);
}
.animate__animated.eag-delay-1000ms {
  --animate-delay: 1s;
  animation-delay: var(--animate-delay);
}

/*DURATIONS*/
.animate__animated.eag-duration-100ms {
  --animate-duration: 100ms;
  animation-duration: var(--animate-duration);
}
.animate__animated.eag-duration-150ms {
  --animate-duration: 150ms;
  animation-duration: var(--animate-duration);
}
.animate__animated.eag-duration-200ms {
  --animate-duration: 200ms;
  animation-duration: var(--animate-duration);
}
.animate__animated.eag-duration-1500ms {
  --animate-duration: 1.5s;
  animation-duration: var(--animate-duration);
}

.animate__animated.eag-duration-2500ms {
  --animate-duration: 2.5s;
  animation-duration: var(--animate-duration);
}
