@layer components {
  .header-backdrop {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }

  header:hover,
  header:focus-within {
    @apply bg-sc-bg-primary;
  }

  .header-link {
    &:focus-within,
    &:hover {
      & > .btn-link-anim span {
        @apply bg-[length:100%_0.125em];
      }

      [data-mega-menu] {
        @apply opacity-100 visible;
      }
    }
  }
  .link-with-list {
    &:focus-within,
    &:hover {
      & > .btn-link-anim span {
        @apply bg-[length:100%_0.125em];
      }

      [data-links-dropdown] {
        @apply max-h-[1000px] ease-in;
      }
    }
  }
}
