.no-select {
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.no-select-all * {
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  @apply appearance-none;
  margin: 0;
  -webkit-appearance: none;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.image-overflow-hidden {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

@media (hover: hover) and (pointer: fine) {
  .uk-background-fixed {
    background-attachment: fixed;
  }
}

html * {
  scrollbar-color: #fff rgb(255 255 255 / 10%);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    &-track {
     background-color: #fff;
     border-radius: 10px;
    }
    &-thumb {
     background-color: grey;
     background-image: none;
     border-radius: 10px;
    }
 }
}

/*Functional Styling*/
@media (pointer: coarse), (hover: none) {
  [title] {
    @apply relative inline-flex justify-center;
  }
  [title]:focus::after {
    @apply absolute bg-sc-title text-sc-bg-primary left-1/2 p-0.5 whitespace-nowrap text-center;
    content: attr(title);
    bottom: 90%;
    z-index: 10;
    width: fit-content;
    font-size: 10px;
  }
}

/*FULL CONTAINER BG COLOR*/
.full-bg {
  --tw-shadow-color: currentColor;
  box-shadow: 0 0 0 100vmax var(--tw-shadow-color);
  clip-path: inset(0 -100vmax);
}